<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>afl monitor</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>	
	<script type="text/javascript" th:src="@{/js/afl_charts.js}"></script>
    <script type="text/javascript" th:src="@{/js/charts_list.js}"></script>
      <script>
         let requests_date_format = "[[${requests_date_format}]]";
    </script>

	<!--script src="/js/afl_charts.js"></script>
	<script src="/js/charts_list.js"></script-->


	<script>
	    $(document).ready(function(){
		createAndStartCharts();
	     });
	</script>
  </head>
  <body>
	<div class="ontainer-fluid" id="main_container" style="width:100%" >
<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Общая статистика вызовов
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" >
      <div class="card-body">
		<div class="row" style="width:100%">
			<div class="border col" id="calls_stats_block" >
				<div class="collapse multi-collapse" id="calls_stats_block">
				</div>
			</div>
		</div>
	 </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Суммарная статистика вызовов
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" >
      <div class="card-body">
		<div class="row" style="width:100%">
			<div class="border col-8" id="calls_agg_st_block" >
			</div>
			<div class="border col-4" id="calls_eait_time_block" >
			</div>
		</div>                                                  
	 </div>
    </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsePlan" aria-expanded="false" aria-controls="collapsePlan">
          План вызовов за день
        </button>
      </h5>
    </div>
    <div id="collapsePlan" class="collapse" aria-labelledby="headingTwo" >
      <div class="card-body">
		<div class="row" style="width:100%">
			<div class="border col" id="calls_plan" >
			</div>
		</div>                                                  
	 </div>
    </div>


  </div>
</div>
	</div>
  </body>
</html>